* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

.header-inner-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
   
}

.navbar {
   background-color:#232121;
   padding: 1rem;
   position: sticky;
   top: 0;
   box-shadow: 10px 0px 10px #2c2c2c;
   z-index: 99;
}

.navbar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #2128e7;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.logo span {
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icons-container {
    display: flex;
    align-items: center;
    
}

.nav-icons-container img {
    width: 30px;
    cursor: pointer;
}

.nav-icons-container img:fist-child {
    margin-right: 1rem;
}

nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.menu-button {
display: none;
}

header {
    background-image: radial-gradient(#fff, #c7c7c7);
}

.header-botton-side {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 1rem;
}

.header-botton-side-left {
    height: 100%;
    flex-basis: 50%;
  }

.header-botton-side-left h2 {
    line-height: 3.2rem;
    margin-bottom: 1.5rem;
  }

  .header-botton-side-left p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

.header-botton-side-left button {
    padding: 0.8rem 3.8rem;
    font-size: 1rem ;
    font-weight: 500;
    background-color: #090b43;
    color: #dee6e8;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .header-botton-side-left button:hover {
    background-color: #3663a7;
    color: #ffffff;
    transition: all 0.3s;
  }

  header-botton-side-right {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
  }

  header-botton-side-right img {
    width: 115%;
    
  }